* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #007abf;
}

div.wrapper {
    margin: auto;
    padding: 100px 100px 50px 100px;
    max-width: 600px;
    background-color: aqua;
}

h1 {
    font-family: 'Russo One', sans-serif;
    font-weight: normal;
    font-size: 48px;
    margin-bottom: 60px;
    border-bottom: 3px solid white;
    text-align: center;
}

h2 {
    font-weight: normal;
    margin-bottom: 35px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
}

#button {
    color: white;
    font-weight: bold;
    font-size: 18px;
    background-color: #007abf;
    padding: 10px;
    border: 0;
    border-radius: 10px;
    display: block;
    margin: auto;
    margin-bottom: 80px;
}

input {
    display:none
}

input[type=radio]:checked+label {
    background-color: #007abf;
    color:white;
    border-color: #007abf;
}

label {
    display:block;
    padding: 20px;
    border: 3px solid white;
    font-weight: bold;
    text-align: center;
    border-radius: 20px;
}

.grid-container {
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.foot > p {
    text-align: center;
}
